{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["babel-plugin-styled-components"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
